body {
    background-color: rgb(204, 204, 204);
    margin: 0;
}
header {
    height: 110px;
    /* width: 100vw; */
    background-color: rgb(73, 68, 68);
    padding: 0;
}

section {
    margin-left: 20%;
    background-color: rgb(255, 255, 255);
    width: 900px;
    height: 550px;
}

footer {
    height: 100px;
    width: 900px;
    background-color: rgb(48, 48, 48);
    margin-left: 20%;
}