body{
    margin: 0;
}
header {
    background-color: darkgray;
    height: 150px;
}

.box {
    height: 130px;
    width: 130px;
    background-color: rgb(9, 90, 117);
    margin-left: 30px;
    margin-top: 10px;
    display: inline-block;
}

.words {
    height: 250px;
}

.paragraph {
    display: inline-block;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 50px;
}

.blue {
    height: 100px;
    background-color: rgb(62, 123, 143);
}

.lightBlue {
    height: 100px;
    background-color: rgb(90, 219, 198);
}

.greenish {
    height: 100px;
    background-color: #77a359c9;
}

.yellow {
    height: 100px;
    background-color: yellow;
}